<h2> Add a new movie: </h2>

 <form method="post" action"">
 
  <p class="add">
    Title: <input name="title" type="text">, directed by: <input name="director" type="text">, in: (<input name="date" type="text">)
    <input type="submit">
  </p>
</form>