<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" type="text/css" href="/css/base.css">
    </head>

    <body>
        <p> this is the about page for #HEXCUSE ME -- </p>
        <p>a site that generates a very special color palette just for you!</p>
    </body>

</html>