<html>
    <head>
    <link rel="stylesheet" type="text/css" href="../css/base.css">
    </head>

    <body>
    <h1>#HEXCUSE ME </h1>
    
    {{{body}}}

      <footer>
    <ul><span>
        <a href="/colors"> | Generate Color Palette |</a> 
        <a href="about"> | About | </a>
    </span></ul>
    </footer>
    </body>
</html>
