<h2>About Song Tracker</h2>
<p>Song Tracker is a web app that allows the user to keep track of songs played and compiles the top 30 chart for them. Once they have registered and logged in, they can input all the playlists to be considered -- the app will organize each song into several properties (Artist, Title, Album, Label, Plays). The user will have the option to sort them based on these properties, create the weekly chart, or see a previous week's chart.</p>
<p><img src="https://mn2s.com/wp-content/uploads/2017/06/music-library.png" style="width:800px;height:300px;"></p>