<form class="createChart" method="post" action="/charts/create">
   
  <p class="add">
     Chart Title: <input name="title" type="text">
     <ol>
    <li>Artist: <input name="artist1" type="text"> Title: <input name="title1" type="text"> Album: <input name="album1" type="text"> Label: <input name="label1" type="text"></li>
   <li>Artist: <input name="artist2" type="text"> Title: <input name="title2" type="text"> Album: <input name="album2" type="text"> Label: <input name="label2" type="text"></li>
   <li>Artist: <input name="artist3" type="text"> Title: <input name="title3" type="text"> Album: <input name="album3" type="text"> Label: <input name="label3" type="text"></li>
   <li>Artist: <input name="artist4" type="text"> Title: <input name="title4" type="text"> Album: <input name="album4" type="text"> Label: <input name="label4" type="text"></li>
   <li>Artist: <input name="artist5" type="text"> Title: <input name="title5" type="text"> Album: <input name="album5" type="text"> Label: <input name="label5" type="text"></li>
   <li>Artist: <input name="artist6" type="text"> Title: <input name="title6" type="text"> Album: <input name="album6" type="text"> Label: <input name="label6" type="text"></li>
   <li>Artist: <input name="artist7" type="text"> Title: <input name="title7" type="text"> Album: <input name="album7" type="text"> Label: <input name="label7" type="text"></li>
   <li>Artist: <input name="artist8" type="text"> Title: <input name="title8" type="text"> Album: <input name="album8" type="text"> Label: <input name="label8" type="text"></li>
   <li>Artist: <input name="artist9" type="text"> Title: <input name="title9" type="text"> Album: <input name="album9" type="text"> Label: <input name="label9" type="text"></li>
   <li>Artist: <input name="artist10" type="text"> Title: <input name="title10" type="text"> Album: <input name="album10" type="text"> Label: <input name="label10" type="text"></li>
   <li>Artist: <input name="artist11" type="text"> Title: <input name="title11" type="text"> Album: <input name="album11" type="text"> Label: <input name="label11" type="text"></li>
   <li>Artist: <input name="artist12" type="text"> Title: <input name="title12" type="text"> Album: <input name="album12" type="text"> Label: <input name="label12" type="text"></li>
   <li>Artist: <input name="artist13" type="text"> Title: <input name="title13" type="text"> Album: <input name="album13" type="text"> Label: <input name="label13" type="text"></li>
   <li>Artist: <input name="artist14" type="text"> Title: <input name="title14" type="text"> Album: <input name="album14" type="text"> Label: <input name="label14" type="text"></li>
   <li>Artist: <input name="artist15" type="text"> Title: <input name="title15" type="text"> Album: <input name="album15" type="text"> Label: <input name="label15" type="text"></li>
   </ol>
   <input type="submit" value="Create">
   </p>
</form>