<h2>Hello, {{user}}</h2>
<form method="POST" action="">
    <p>We value your feedback.
    <br>Please leave any comments below.</p>
    <input name="feedback" type="text">
    <input type="submit" value="Submit">
</form>