<h2>Login:</h2>
<h2 style="color:red;">{{message}}</h2>
<form method="POST" action="">
    Username:&nbsp;<input name="username" type="text">
    <br>
    Password:&nbsp;&nbsp;<input name="password" type="password">
    <input type="submit" value="Login">
</form>

<h2><a href="/register">Click here to register!</a></h2>