<h1>Register:</h1>
<h2 style="color:red;">{{error}}</h2>
<form method="POST" action="">
    Username: <input name="username" type="text">
    <br>
    Password: <input name="password" type="password">
    <input type="submit" value="Register">
</form>
<h2>{{message}}</h2>